[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
tensorflow = "*"
tensorflow-probability = "*"
sklearn = "*"
arch = "*"
tf-quant-finance = "*"
tqdm = "*"
python-dotenv = "*"
pandas-datareader = "*"
tensorflow-recommenders = "*"
tensorflow-ranking = "*"
pandas-ta = "*"
yfinance = "*"
investpy = "*"
matplotlib = "*"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
ipykernel = "*"

[pipenv]
allow_prereleases = true

[scripts]
coverage = "pipenv run pytest --cov --cov-report=html"
